<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    >
    <title>Announce</title>
  </head>
  <body>
      <div class="container">
          <h1>Room</h1>
      </div>
      <script>
          (function(){
                let socket = null;
                const  path = "{{.URL.Path}}".split("/");
                const roomname = path[path.length-1];
                if(!window["WebSocket"]){
                    alert("Error: Your browser does not support web sockets.");
                } else {
                    socket = new WebSocket("ws://{{.Host}}/joinroom/"+roomname);
                    socket.onclose = function(){
                        alert("Connection has been closed.");
                    }
                    socket.onmessage = function(e){
                        console.log(e.data);
                    }
                    setTimeout(function(){socket.send("Test Message")}, 2000);
                }
          })();
      </script>
  </body>
</html>